.container {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn-actions {
  background: none!important;
  border: none;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
}

.c-btns-actions{
  text-align: right;
}

.c-blog{
  padding: 0px 0px 0px 0px;
}

.text-red{
  color: red;
}

.text-blue{
  color: #6398FD;
}

button:active {
  transform: translateY(2px);
}

.center{
  text-align: center;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.gradient-button {
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  background-size: 200% auto;
  color: #FFF;
  border-radius: 10px;
  width: 150px;
  background-image: linear-gradient(to right, #5086FD 0%, #6F45FF 40%);
}



input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}



@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .c-blog{
    padding: 10px 150px 10px 150px;
  }
  
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .c-blog{
    padding: 10px 200px 10px 200px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .c-blog{
    padding: 10px 250px 10px 250px;
  }
}